<section>
	<header><%= title %></header>
	<ul class="surveysContainer">
	<%if surveys.count == 0%>
		<div>You have no surveys left to take</div>
	<%end%>
		<% surveys.each do |survey| %>
			<li id="survey_<%= survey.id%>">
				<div class='surveyTitleLink'>
				<a href="/survey/<%= survey.id %>"><%= survey.title %></a>
				<% if actions %>
					<span class='responseNumber'>Number of responses: <%=survey.response_count%></span></div>
					<div class='actionsContainer'>
						<%= erb :"surveys/_survey_actions" , locals: { title: title, survey: survey} %>
					</div>
				<% else %>
					</div>
				<% end %>
			</li>
		<% end %>
	</ul>
</section>
