<ul class="actions">
	<% if title == 'Open Surveys' %>
		<li><form action='/status/survey/<%= survey.id %>' method='post'>
			<input type="hidden" name="_method" value="put" />
			<input type="hidden" name="survey[status]" value="closed" />
			<input type="submit" class='closeBtn' value="Close" />
		</form>
		</li>
	<% elsif title == 'Draft Surveys' %>
		<li><form action='/status/survey/<%= survey.id %>' method='post'>
			<input type="hidden" name="_method" value="put" />
			<input type="hidden" name="survey[status]" value="open" />
			<input type="submit" class='openBtn' value="Open" />
		</form></li>

		<li><form action='/survey/<%= survey.id %>/update' method='get'><input type="submit" value="Edit" class="editBtn" /></form></li>

		<li><form action='/survey/<%= survey.id %>' method='post'>
			<input type="hidden" name="_method" value="delete" />
			<input type="submit" class="deleteBtn" value="Delete" />
		</form></li>
	<% else %>
		<% if survey.response_count > 0 %>
		<li><form action='/survey/<%= survey.id %>/results' method='get'><input type="submit" class="resultBtn"  value="Results" /></form></li>
		<% end %>

		<li><form action='/survey/<%= survey.id %>' method='post'>
			<input type="hidden" name="_method" value="delete" />
			<input type="submit" class="deleteBtn"  value="Delete" />
		</form></li>
	<% end %>

</ul>
