<section>
	<header><%= survey.title %></header>
	<form action="/user/<%= user_id %>/survey/<%= survey.id %>" method="post" />
		<% survey.questions.each do |question| %>
			<ul class='questionContainer'>
				<li class='question'><%= question.description %></li>
				<% question.answers.each do |answer| %>
					<li><label><input type="radio" name="answers[<%= question.id %>]" value="<%= answer.id %>" /><%= answer.description %></label></li>
				<% end %>
			</ul>

		<% end %>
		<input type="submit" value="submit survey" />
	</form>
</section>

<%=percentage%>
