<section>
  <label>Survey Title</label>
  <form id="surveyUpdateForm" action="/survey/<%= survey.id %>" method="post">
    <input type="hidden" name="_method" value="put" />
    <input type="text" name="survey[title]" value="<%= survey.title %>" />
    <p></p>
    <label>Questions</label>
    <% survey.questions.each do |question| %>
      <input type="text" name="questions[<%= question.id %>]" value="<%= question.description %>" />
      <ul>
        <% question.answers.each do |answer| %>
        <li><input type="text" name="answers[<%= question.id %>][<%= answer.id %>]" value="<%= answer.description%>" /></li>
        <% end %>
      </ul>
      <% end %>
      <input id="saveOpenBtn" class="submitBtn" type="button" value="Save and open" />
      <input class="submitBtn" type="submit" value="Save" />
  </form>
</section>
